jdk-22.0.2/*
ollama/*
openrefine-3.8.2/*
*.pyc
refine/*
refine/__pycache__/__init__.cpython-39.pyc
refine/__pycache__/facet.cpython-39.pyc
refine/__pycache__/facet.cpython-311.pyc
refine/__pycache__/history.cpython-39.pyc
refine/__pycache__/history.cpython-311.pyc
refine/__pycache__/refine.cpython-39.pyc
refine/__pycache__/refine.cpython-311.pyc
